/*  
FONTS:
1. Architects Daughter - License: SIL / Open Font License

/* ------------------ Formats   ------------------ *
src: local('opensans'),
         url(opensans.eot) format('embedded-opentype'),
         url(opensans.ttf) format('truetype'),
         url(opensans.otf) format('opentype'),
         url(opensans.woff) format('woff');
*/

/* ---------------- Architects Daughter ---------------- */

/* Architects Daughter: Regular */
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
    	 url(../fonts/ArchitectsDaughter-Regular.ttf) format('truetype');
}

/* ---------------- Covered By Your Grace ---------------- */

/* Covered By Your Grace: Regular */
@font-face {
    font-family: 'Covered Grace';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
         url(../fonts/CoveredByYourGrace-Regular.ttf) format('truetype');
}

/* ---------------- Mona Shark ---------------- */

/* Mona Shark: Regular */
@font-face {
    font-family: 'Mona Shark';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
        url(../fonts/MonaShark.otf) format('opentype');
}


/* ---------------- Comic Shadow ---------------- */

/* Comic Shadow: Regular */
@font-face {
    font-family: 'Comic Shadow';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
         url(../fonts/ComicShadow.ttf) format('truetype');
}



/* ---------------- Permanent Marker ---------------- */

/* Permanent Marker: Regular */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
         url(../fonts/PermanentMarker-Regular.ttf) format('truetype');
}

/* ---------------- Sunshiney ---------------- */

/* Sunshiney: Regular */
@font-face {
    font-family: 'Sunshiney';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
         url(../fonts/Sunshiney-Regular.ttf) format('truetype');
}

/* ---------------- Baloo Bhai ---------------- */

/* Baloo Bhai: Regular */
@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: normal;
    src: local('?'),
         url(../fonts/BalooBhai-Regular.ttf) format('truetype');
}
