<template>
	<div class="container pb-5">
		<div class="row pt-5 pb-3 d-flex justify-content-center">
			<div class="col-10 py-3 px-3 dialog-text ">
				<span>
					Para comenzar, lo invito a acceder a cualquiera de nuestros materiales que aparecen a continuación: Puede descargar un PDF de 199 páginas, dónde se realiza una introducción a la Cultura Virtual… o puede observar un video de  10 minutos sobre el mismo tema…
				</span>
			</div>
		</div>
		<div class="row  d-flex align-items-center justify-content-center">
			<div class="col-4 col-md-4 py-5 px-5 d-none d-md-block">
				<img width="100%" src="img/tutor-circ.png" alt="">
			</div>
			<div class="col-12 col-md-8 video">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://youtu.be/AoQYKdF3NKc" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-end pt-3 pb-3 pr-3 documento">
			<a href="file/Prueba_desarrolladores_frontend.pdf" download="Prueba_desarrolladores_frontend2019" class="col-12 col-sm-5 btn btn-warning btn-block ">
				Descargar Archivo
			</a>
		</div>
	</div>	
</template>

<style scoped>

.dialog-text {
	opacity: 0;
	background: crimson;
	height: auto;
	border-radius: 20px 0px;
	font-size: 15px;
	animation-name:dialogo;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
img{
	opacity: 0;
	animation-name:dialogo;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.video iframe{
	opacity: 0;	
	animation-name:dialogo;
	animation-delay: 2s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

.documento{
	opacity: 0;	
	animation-name:dialogo;
	animation-delay: 2s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
/*Animación*/
@keyframes dialogo{
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}

@keyframes imagen{
	from{
		transition: rotate(360deg);
		left:-100px;
	}to{
		left:100px;
	}
}


</style>