<template>
	<div class="container pb-5">
		<div class="row pt-2 pb-3 d-flex align-items-center justify-content-center dialogo">
			<div class="col-12 col-md-6 justify-content-center">
				<div class="dialog-text text-center ">
					<span>La eduacion virtual se caracteriza por ser:</span>
				</div><br>
				<div class="subtitle justify-content-center" id="subtitle">
					<span>Haz click en cada titulo</span>
				</div>				
			</div>
			<div class="col-12 col-md-2 justify-content-center d-none d-md-block">
				<img width="auto" src="img/tutor-circ.png" alt="" class="">
			</div>			
		</div>

		<div class="row pt-2 d-flex align-items-center justify-content-center graficas">
			<div class="col-12 col-md-4 panel-title text-center py-2" id="Oportuna" ref="Oportuna" @click="panelOpo">
				<span>Oportuna</span>
			</div>
			<div class="panel-info text-justify pt-3" ref="OportunaDescription" style="display:none;"
			:class="{'col-md-8' : display ='block', 'col-12': display ='block' }"><p>Para datos, textos, gráficos, sonido, voz e imágenes; también ofrece herramientas para la interacción (video conferencia, chat, foro, cuestionarios, etc.)</p></div>
		</div>
		<div class="row pt-2 d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-4 panel-title text-center py-2" id="Economica" ref="Economica" @click="panelEco">
				<span>Economica</span>
			</div>
			<div class="panel-info text-justify pt-3" ref="EconomicaDescription" style="display:none;" 
			:class="{'col-md-8' : display ='block', 'col-12': display ='block' }"><p>Porque no es necesario desplazarse hasta el centro educativo, se puede estudiar desde cualquier parte del mundo a cualquier hora, solamente se requiere un computador y conexión a internet.</p></div>
		</div>
		<div class="row pt-2 d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-4 panel-title text-center py-2" id="Compatible" ref="Compatible" @click="panelCom">
				<span>Compatible</span>
			</div>
			<div class="panel-info text-justify pt-3" ref="CompatibleDescription" style="display:none;"
			:class="{'col-md-8' : display ='block', 'col-12': display ='block' }"><p>Con la educación presencial en cumplimiento del programa académico.</p></div>
		</div>
		<div class="row pt-2 d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-4 panel-title text-center py-2" id="Innovadora" ref="Innovadora" @click="panelInn" >
				<div class="">Innovadora</div>
			</div>
				<div class="panel-info text-justify pt-3" ref="InnovadoraDescription" style="display:none;"
					:class="{'col-md-8' : display ='block', 'col-12': display ='block' }"
				><p>En el desarrollo de nuevos escenarios de aprendizaje. Permite al usuario desarrollar un proceso de aprendizaje a su propio ritmo y según sus propias exigencias.</p></div>
		</div>
		<div class="row pt-2 pb-3 d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-4 panel-title text-center py-2" id="Motivadora" ref="Motivadora" @click="panelMot">
				<span>Motivadora</span>
			</div>
			<div class="panel-info text-justify pt-3" ref="MotivadoraDescription" style="display:none;"
			:class="{'col-md-8' : display ='block', 'col-12': display ='block' }"><p>En el aprendizaje, evita tener que estar todo el tiempo encerrado en un salón de clase.</p></div>
			
			
		</div>

	</div>
</template>

<script>

export default{
	methods : {		
		panelOpo () {
			this.$refs.OportunaDescription.style.display = 'block';
		},
		panelEco () {
			this.$refs.EconomicaDescription.style.display = 'block';
		},
		panelCom () {
			this.$refs.CompatibleDescription.style.display = 'block';
		},
		panelInn () {
			this.$refs.InnovadoraDescription.style.display = 'block';
		},
		panelMot () {
			this.$refs.MotivadoraDescription.style.display = 'block';
		}
	}
}

</script>

<style scoped>
span{
font-family: 'Baloo Bhai', bold;	
}
.dialog-text {
background: crimson;
height: auto;
border-radius: 20px 0px;
font-size: 20px
}
.subtitle{
	font-size: 15px;
}
div.panel-info{
border: 2px dashed #495057;
color: #495057;
background: #ffffffd9;
padding: 10px;
border-radius: 11px;
}

div.panel-title{
background: #495057;
border-radius: 15px 0px;
cursor: pointer;
}
div.panel-title:hover{
background: #5e7b98;
border: 2px solid #495057;
}

#Oportuna{
	opacity: 0;	
	animation-name:entrada;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
#Economica{
	opacity: 0;	
	animation-name:entrada;
	animation-delay: 1.5s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
#Compatible{
	opacity: 0;	
	animation-name:entrada;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
 #Innovadora{
	opacity: 0;	
	animation-name:entrada;
	animation-delay: 2.5s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
 #Motivadora{
	opacity: 0;	
	animation-name:entrada;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.dialogo{
	opacity: 0;	
	animation-name:entrada;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
/*Animacion*/
@keyframes entrada{
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}

</style>