<template>
	<div class="container pb-5">
		<div class="row " >
			<div class="col-12 pt-3 ">
				<h1 class="text-center"> Bienvenido hoy seras un estudiante virtual </h1> 
			</div>
		</div>	
		<div class="row d-flex justify-content-center"  >
			<div class="col-md-6 tutor-lg  d-flex justify-content-center imagen-tutor" >
				<img class="d-none d-md-block" src="img/tutor.png" alt="">
			</div>
			<div class="col-12 col-md-6  ">
				<form class="pt-2 p-3 formulario" action="">
					<div class="form-group row">
						<div class="col-sm-12  pt-1">
							<label>Nombre:</label>
							<input type="text" class="form-control" placeholder="Nombre">
						</div>
						<div class="col-sm-12 pt-1">
							<label>Edad:</label>
							<input type="text" class="form-control" placeholder="Edad">
						</div>
						<div class="col-sm-12 pt-1">
							<label>Correo:</label>
							<input type="text" class="form-control" placeholder="ejemplo@example.com">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-6">
							<label for="option">Estas cursando:</label>
							<select class="form-control">
								<option>Tecnico</option>
								<option>Tecnologo</option>
								<option>Profesional</option>
								<option>Postgrado</option>
							</select>								
						</div>			
						<div class="col-6">
							<label for="genero">Genero:</label>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="gfem" name="genero">
								<label class="custom-control-label" for="gfem">Femenino</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="gmas" name="genero" >
								<label class="custom-control-label" for="gmas">Masculino</label>
							</div>									
						</div>
					</div>
					<button type="submit" class="boton-registrar btn btn-warning btn-lg btn-block">Registrarse </button>
				</form>
			</div>	
		</div>
	</div>	
</template>

<script>
	export default {

	}
</script>

<style>
	img.d-none.d-md-block {
    height: 434px;
	}
	.imagen-tutor{
		animation-name:entrada;
		animation-duration: 2s;
		animation-fill-mode: forwards;
	}
	.formulario{
		opacity: 0;	
		animation-name:formulario;
		animation-delay: 1s;
		animation-duration: 2s;
		animation-fill-mode: forwards;
	}
	/*Animación*/
	@keyframes formulario{
		from{
			opacity: 0;
		}to{
			opacity: 1;
		}
	}

	@keyframes entrada{
		0%{
			display: block;
			left: -30%;
			top: 0;
		}100%{
			display: block;
			left: 0%;
			top: 0;
		}
	}
</style>