<template>
	<div class="container">
		<div class="row pt-2 pb-3 d-flex align-items-center justify-content-center">
			<div class="col-12 col-md-6">
				<div class="dialog-text text-center  ">
					<p>Selecciona la respuesta que considere correcta:</p>
				</div>
			</div>
			<div class="col-12 col-md-2 d-none d-md-block justify-content-center">
				<img width="auto" src="img/tutor-circ.png" alt="" class="">
			</div>			
		</div>
		<div class="row form-group pt-2 pb-5 d-flex justify-content-center">
			<form action="" class="align-content-between flex-wrap">
				<div class="form-group row align-items-center justify-content-center">
					<label for="opcion1" class="col-lg-2 col-form-label col-form-label-md select-title">La cultura virtual es:</label>
					<div class="col-sm-10">
						<select class="form-control " id="opcion1"  ref="opcion1" @change="validar1()">
							<option value="" selected  disabled> -- Seleccione --</option>
							<option value="3" >La cultura que está emergiendo del curso de las TIC's para la comunicación el entretenimiento y el marcador electrónico.</option>
							<option value="1">La cultura de los videojuegos y el chat.</option>
							<option value="2">La cultura de los ingenieros de sistemas.</option>
						</select>
					</div>
				</div>

				<div class="form-group row align-items-center justify-content-center">
					<label for="opcion2" class="col-lg-2 col-form-label col-form-label-md select-title">La educación virtual permite </label>
					<div class="col-sm-10">
						<select class="form-control" id="opcion2" ref="opcion2" @change="validar2()">
							<option value=""  selected disabled> -- Seleccione --</option>
							<option value="1">Estudiar menos tiempo.</option>
							<option value="2" >Acceso desde cualquier lugar con conexión a internet.</option>
							<option value="3" >La individualidad necesaria para el aprendizaje autónomo y la interacción necesaria para el aprendizaje colaborativo.</option>
						</select>
					</div>
				</div>

				<div class="form-group row align-items-center justify-content-center">
					<label for="opcion3" class="col-lg-2 col-form-label col-form-label-md select-title">Las TIC's </label>
					<div class="col-sm-10">
						<select class="form-control" id="opcion3" @change="validar3()" ref="opcion3">
							<option value="" selected disabled> -- Seleccione --</option>
							<option value="1">Posibilitan ahorro de tiempo y dinero. </option>
							<option value="2" >Posibilitan acceso desde cualquier lugar con conexión a internet.</option>
							<option value="3" >Posibilitan un director de nuevas experiencias comerciales sociales culturales y académicas.</option>
						</select>	
					</div>
				</div>
				<div class="row d-flex justify-content-end pt-3 pb-3 pr-3 pl-3">
					<button class="col-12 col-sm-5 btn btn-warning btn-block" id="btn-continuar" ref="boton" disabled>Continuar</button>
				</div>
			</form>			
		</div>  
	</div>
</template>

<script>
export default{
	data(){
		return {
			key:''
		}
	},
	methods: {		
		validar1:function() {
			const op1 = this.$refs.opcion1
			if(op1.value == '2'){
				op1.style.border= 'green solid 2px'
				op1.style.color= 'green'
			}else if(op1.value == ''){
				op1.style.border= 'grey solid 2px'
				op1.style.color= 'grey'
			}
			else{
				op1.style.border= 'red solid 2px'
				op1.style.color= 'red'
			}
		},
		validar2:function() {
			const op2 = this.$refs.opcion2
			if(op2.value == '2'){
				op2.style.border= 'green solid 2px'
				op2.style.color= 'green'
			}else if(op2.value == ''){
				op2.style.border= 'grey solid 2px'
				op2.style.color= 'grey'
			}
			else{
				op2.style.border= 'red solid 2px'
				op2.style.color= 'red'
			}
		},
		validar3:function() {
			const op3 = this.$refs.opcion3
			if(op3.value == '2'){
				op3.style.border= 'green solid 2px'
				op3.style.color= 'green'
			}else if(op3.value == ''){
				op3.style.border= 'grey solid 2px'
				op3.style.color= 'grey'
			}
			else{
				op3.style.border= 'red solid 2px'
				op3.style.color= 'red'
			}
		}
	},
	updated:{
		/*const text = app.$refs.opcion1.value
		const textField = app.$refs.textField*/
		activarBoton(){		
			const o1 = this.$refs.opcion1
			const o2 = this.$refs.opcion2
			const o3 = this.$refs.opcion3
			const btn = this.$refs.boton
			if ((o1.value == 'V' && o2.value == 'V' ) && o3.value == 'V') {
				btn.disabled= false
			}else{
				btn.disabled= true
			}
		}
	}

}
</script>

<style scoped>
.dialog-text {
	background: crimson;
	height: auto;
	border-radius: 20px 0px;
	font-size: 20px
}
form {
	padding: 20px;
}
label.select-title {
	font-size: 18px;
}
img.d-none.d-md-block {
    height: 434px;
}
</style>



<script>



	
export default{
	data(){
		return{
			selected1:null,
			selected2:null,
			selected3:null,
		}
	},
	methods:{
		
	}
}
</script>
