<template>
	<div class="container">
		<div class="container">
			<div class="row pt-5 d-flex justify-content-center align-items-center">
				<div class="col-md-4 tutor-lg d-flex justify-content-center  " >
					<img class="d-none d-md-block" src="img/tutor.png" alt="">
				</div>
				<div class="col-md-8 d-flex justify-content-center fin-modulo ">
					<p class="textos a">FIN DEL</p>
					<p class="textos b">MODULO</p>
				</div>
			</div>
		</div>	
	</div>
</template>

<style scoped>
p {
	font-size: 83px;
	color: #fff;    	
}
.fin-modulo {
	position: relative;
	transform: rotate(10deg) skew(20deg);
}
.textos{ 
	position: absolute;
	display: flex;
}
.textos.a{
	animation-name:textoA;
	animation-duration: 3s;
	top: -80px;
	animation-fill-mode: forwards;
}
.textos.b{
	animation-name:textoB;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
/*Animación*/
@keyframes textoA{
	from {
	display: block; 
	left: 0;top: 
	0px;
	}

	to {
	display: block; 
	left: calc(25%);
	top: -80px;
	}
}
@keyframes textoB{
	from{display: block; right: 0; top:0;}
	to{display: block; right: calc(25%);top:0;}
}
</style>