<template>
	<div>
		<component :is="'mod'+numPag"></component>	
		<btn-footer></btn-footer>
	</div>
	
</template>

<script>
import mod1 from './Modulo1'
import mod2 from './Modulo2'
import mod3 from './Modulo3'
import mod4 from './Modulo4'
import mod5 from './Modulo5'

	export default {
		name: 'portada',
		components:{
			mod1,
			mod2,
			mod3,
			mod4,
			mod5
		},
		computed:{
			numPag(){
				return this.$route.params.numPag
			}
		}

	}
</script>