<template>
	<div class="panel-inferior d-felx align-items-center ">
		<div><router-link v-if="numPag > 1" :to="'/'+(parseInt(numPag,10)-1)" ><font-awesome-icon icon="arrow-alt-circle-left"></font-awesome-icon></router-link></div>		
		<span>{{numPag}} de 5 </span>		
		<div><router-link  v-if="numPag < 5" :to="'/'+(parseInt(numPag,10)+1)" ><font-awesome-icon icon="arrow-alt-circle-right"></font-awesome-icon></router-link></div>
	</div>
</template>

<script>
	export default{
		computed:{
			numPag(){
				return this.$route.params.numPag
			}
		}
	}
</script>

<style scoped>
	.panel-inferior{
		height: 50px;
		position:fixed;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 30px;
		background: #FFF;
		color: #2c3e50;
		text-decoration: none;
	}
	a{
	color: #2c3e50;
	text-decoration: none;
	}
	a:hover{
	color: #3a71a9;
	text-decoration: none;
	}
	span{
	}
</style>