<template>  
  <div id="app">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        Dominio Estudio
      </a>
    </nav>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="{'width': progreso+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <!--<div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>-->
    <router-view/>
  </div>
</template>

<script>
  
</script>
<style>
#app {
  font-family: 'Baloo Bhai', bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  /*color: #2c3e50;*/
}
/*
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}*/
</style>
